<section class="block argument-block" id="{{ block.data.id }}">
  <h2>{{ block.data.title }}</h2>
  <div class="block-content">
    {{ block.templateContent | renderWithCitations(citations, sources) | safe }}
  </div>
  {{ block.data.citations | renderCitationSection(citations, sources) | safe }}
</section>
